<template lang="pug">
  div.hello
    h1 {{ msg }}
    p
      | For a guide and recipes on how to configure / customize this project
      | check out the
      a( href="https://cli.vuejs.org" target="_blank" rel="noopener") vue-cli documentation
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
}
</script>
