<template lang="pug">
  v-app#inspire
    v-navigation-drawer(v-model="drawer" app)
    v-app-bar(app color="primary" dark)
      v-app-bar-nav-icon( @click.stop="drawer = !drawer")
      v-toolbar-title Application
    v-content
        v-container.fill-height(fluid)
            div {{$t('sample')}}
            v-icon( large) mdi-codepen

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class App extends Vue {
  drawer: boolean = false;
}
</script>

<style lang="scss"></style>
